<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro de reservas de visitas guiadas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bulma.min.js"></script>
    <style>
        select, input[type=number], input[type=date], input[type=time] {
            min-width: 100px;
            max-width: 700px;
        }
    </style>
</head>

<body>
    <header class="hero is-link">
        <div class="hero-body">
            <h2 class="title">
                Registro de reservas de visitas guiadas
            </h2>
        </div>
    </header>

    <div class="container">
        <form action="" class="pt-5">

            <div class="field">
                <label class="label">Seleccione escuela:</label>
                <div class="control">
                    <div class="select">
                        <select id="cmbEscuelas" name="cmbEscuelas">
                            <option value="0" disabled selected>Seleccione</option>
                            <option th:each="item: *{escuelas}" th:value="${item}" th:text="${item}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Ingresar la cantidad de visitantes:</label>
                <div class="control">
                    <input class="input" type="number" placeholder="0" id="txtCantidadVisitantes">
                </div>
            </div>

            <div class="field">
                <label class="label">Seleccione sede:</label>
                <div class="control">
                    <div class="select">
                        <select id="cmbSede" name="cmbSede">
                            <option value="0" disabled selected>Seleccione</option>
                            <option th:each="item: *{sedes}" th:value="${item}" th:text="${item}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Seleccione tipo visita:</label>
                <div class="control">
                    <div class="select">
                        <select id="cmbTiposVisita" name="cmbTiposVisita">
                            <option value="0" disabled selected>Seleccione</option>
                            <option th:each="item: *{tiposVisita}" th:value="${item}" th:text="${item}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container is-widescreen">
                <div class="notification is-info">
                    <table class="table" id="tblExposiciones">
                        <thead>
                            <tr>
                            	<th>Seleccionar</th>
                                <th>Exposición</th>
                                <th>Publico Destino</th>
                                <th>Hora apertura</th>
                                <th>Hora cierre</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="field">
                <label class="label">Ingresar fecha y hora de la visita:</label>
                <div class="control">
                    <input class="input" type="date" placeholder="0" id="txtFechaVisita">
                    <input class="input" type="time" placeholder="0" id="txtHoraVisita">
                </div>
            </div>
           
            <div class="field">
                <label class="label">Seleccione los guias:</label>
                <div class="control">

                    <div class="columns">
                        <div class="column is-narrow">
                            <div class="select is-multiple">
                                <select multiple size="8" id="cmbGuias">
                                </select>
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <button class="button is-small is-fullwidth" id="btnAgregarGuia">&gt;&gt;</button>
                            <button class="button is-small is-fullwidth" id="btnRemoverGuia">&lt;&lt;</button>
                        </div>
                        <div class="column is-narrow">
                            <div class="select is-multiple">
                                <select multiple size="8" id="cmbGuiasSeleccionados">
                                    
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Confirmar</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancelar</button>
                </div>
            </div>

        </form>
    </div>


    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <b>Catedra: </b>Diseño de Sistemas. <b>Grupo N°: </b>12 <br>
                <b>Integrantes: </b>
                Garz&oacute;n Pablo, Garz&oacute;n Sergio,
                Ghizzoni Claudio ,Maximo Mer&aacute;s,
                Guti&eacute;rrez Emiliano Andr&eacute;s, Mer&aacute;s M&aacute;ximo
                Menendez Agust&iacute;n, Sosa Federico
            </p>
        </div>
    </footer>

    <script>
        var $cmbEscuela = $("#cmbEscuela");
        var $txtCantidadVisitantes = $("#txtCantidadVisitantes");
        var $cmbSede = $("#cmbSede");
        var $cmbTiposVisita = $("#cmbTiposVisita");
        var $txtFechaVisita = $("#txtFechaVisita");
        var $txtHoraVisita = $("#txtHoraVisita");
        var $cmbGuias = $("#cmbGuias");
        var $cmbGuiasSeleccionados = $("#cmbGuiasSeleccionados");
        var $btnAgregarGuia = $("#btnAgregarGuia");
        var $btnRemoverGuia = $("#btnRemoverGuia");
        var $tblExposiciones = null;

        $(function() {
            $cmbTiposVisita.prop("disabled", true);
            
            $tblExposiciones = $("#tblExposiciones").DataTable({
            	searching: false,
                paging: false,
                bInfo: false,
                info: false,
                data: [],
                columns: [
                	{ data: "id"},
                    { data: "nombre"},
                    { data: "publicoDestino" },
                    { data: "horaApertura" },
                    { data: "horaCierre" }
                ],
                columnDefs: [{
                    'targets': 0,
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox" name="id" value="' + data.id + '">';
                    }
                }]
            });
            
			$cmbSede.on("change", tomarSeleccionSede);
            $cmbTiposVisita.on("change", tomarSeleccionTipoVisitas);
            $txtFechaVisita.on("input", tomarSeleccionFechaHoraReserva);
            $txtHoraVisita.on("input", tomarSeleccionFechaHoraReserva);
            $btnAgregarGuia.on("click", function (e) {
                moverGuias(e, $cmbGuias, $cmbGuiasSeleccionados);
            });
            $btnRemoverGuia.on("click", function (e) {
                moverGuias(e, $cmbGuiasSeleccionados, $cmbGuias);
            });
        });

        function tomarSeleccionSede() {
            $cmbTiposVisita.prop("disabled", false);
        }

        function tomarSeleccionTipoVisitas () {
                var sede = $cmbSede.val();
                var tv   = $cmbTiposVisita.val();

                $.ajax({
                    url: "/exposiciones?sede=" + sede + "&tv=" + tv ,
                    method: "GET"
                }).done(presentarExposiciones);
        }

        function presentarExposiciones(data) {
            $tblExposiciones.clear().draw();
            if (!!data && !!data.exposiciones.length) {
                $tblExposiciones.rows.add(data.exposiciones).draw();    
            }
        }

        function tomarSeleccionFechaHoraReserva() {
            var sede = $cmbSede.val();
            var cantV = $txtCantidadVisitantes.val();
            var fecha = $txtFechaVisita.val();
            var hora = $txtHoraVisita.val();

            if (!!fecha && !!hora) {
                $.ajax({
                    url: "/guias?sede=" + sede + "&cantV=" + cantV + "&fecha=" + fecha + "&hora=" + hora + "&expos=1",
                    method: "GET"
                }).done(presentarGuias);    
            }
        }

        function presentarGuias(data) {
            $cmbGuias.empty();
            for (var i = 0; i < data.guias.length; i++) {
                $cmbGuias.append('<option value="' + data.guias[i] + '">' + data.guias[i] + '</option>');
            }
        }

        function moverGuias(event, $cmb1, $cmb2) {
            event.preventDefault();
            var seleccionados = $cmb1.val();
            if(!!seleccionados && !!seleccionados.length) {
                for (var i = 0; i < seleccionados.length; i++) {
                    $cmb2.append('<option value="' + seleccionados[i] + '">' + seleccionados[i] + '</option>');
                    $cmb1.find('option[value="' + seleccionados[i] + '"]').remove();
                }
            }
        }
    </script>
</body>

</html>